
{% load static %}
{% load crispy_forms_tags %}


<!--{% block change %}-->
<!-- Start Contact -->
<section id="mu-contact">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="mu-contact-area">
    
                        <div class="mu-heading-area">
                            <h2 class="mu-heading-title">loan form</h2>
                            <span class="mu-header-dot"></span>
                            <p></p>
                        </div>
    
                        <!-- Start Contact Content -->
                        <div class="mu-contact-content">
    
                            <div id="form-messages"></div>
                            <form method="POST">
                                    {% csrf_token %}
                                    {{form|crispy}}
    
                                     <button type="submit" class="mu-send-msg-btn"><span>SUBMIT</span></button>
                            </form>
                        </div>
                            <!-- End Contact Content -->
                    </div>
                </div>
            </div>
        </div>
</section>
        <!-- End Contact -->
<!--{% endblock %}-->